extends ../layout

block content
    .page-header
        h2 #{title}

    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=csrfToken)
        .form-group
            label.col-sm-2.control-label Username
            .col-sm-10
                input.form-control(id='username', name='username',
                                   placeholder='Username',
                                   autofocus=true)
        .form-group
            label.col-sm-2.control-label Password
            .col-sm-10
                input.form-control(id='password', name='password',
                                   type='password', placeholder='Password')
        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(id='login', type='submit')
                    i.fa.fa-label.fa-user
                    | Login
