extends ../layout

block content
    .page-header
        h2 #{title}

    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=csrfToken)
        .form-group
            label.col-sm-2.control-label Question
            .col-sm-10
                input.form-control(id='question', name='question',
                                   placeholder="What's your question?",
                                   autofocus=true)
        .form-group
            label.col-sm-2.control-label Details
            .col-sm-10
                textarea.form-control(id='details', name='details', rows='10',
                                      placeholder="What's the context of the question? Do you have an opinion?")
        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-success(type='submit')
                    i.fa.fa-label.fa-paper-plane
                    | Post
