extends ../layout

block content
    .page-header
        h2 #{title}

    // Search bar
    .row
        .col-md-12
            form(id='searchForm', method='GET', action='find')
                .form-group
                    .input-group
                        input.form-control(id='search', name='search',
                                           placeholder='Search for questions...',
                                           autofocus=searchQuery === undefined
                                           value=searchQuery)
                        div.input-group-btn
                            button.btn.btn-default(type='submit',
                                                   id='submitSearch')
                                i.fa.fa-search.fa-label
                                | Search
                            button.btn.btn-default.dropdown-toggle(type='button',
                                                                   data-toggle='dropdown')
                                | Sort Results&nbsp;
                                span.caret
                            ul.dropdown-menu
                                li.dropdown-header Sort by date
                                li(onclick='$("#sortTypeInput").val("dateDes"); $("#searchForm").submit()')
                                    a(href='#') Newest first
                                li(onclick='$("#sortTypeInput").val("dateAsc"); $("#searchForm").submit()')
                                    a(href='#') Oldest first
                                li.divider
                                li.dropdown-header Sort by vote score
                                li(onclick='$("#sortTypeInput").val("voteDes"); $("#searchForm").submit()')
                                    a(href='#') Highest score first
                                li(onclick='$("#sortTypeInput").val("voteAsc"); $("#searchForm").submit()')
                                    a(href='#') Lowest score first
                input(id='sortTypeInput', type='hidden', name='sortType',
                      value=sortType === undefined ? 'dateDes' : sortType)

    if questions.length == 0
        // No questions or no search results message
        .row
            .col-md-12
                p(id='noQuestionMsg')
                    if searchQuery === undefined
                        | No questions have been submitted. Why not write one of
                        | your own?
                    else
                        | No results found.

    else
        // Questions
        .row
            each question in questions
                .col-md-12
                    +question(question.id, question.title, question.text,
                              question.submitter,  question.date,
                              question.upVoted, question.downVoted,
                              question.voteScore, user)

    // Pagination
    .form-group
        ul.pagination
            if currPage == 1
                li.disabled
                    a Prev
            else
                li
                    a(href='/questions/find?page=#{curr - 1}') Prev

            if hasNextPage
                li
                    a(href='/questions/find?page=#{curr + 1}') Next
            else
                li.disabled
                    a Next

mixin question(id, title, text, submitter, date, upVoted, downVoted, count, user)
    .panel.panel-default
        .panel-heading
            h4
                a(id='q' + id + '_title',
                  href='/questions/view?q=#{id}')= title
        .panel-body
            .vote-group
                form(method='POST', action='/questions/vote?q=#{id}')
                    .btn-group-vertical
                        button.btn.btn-primary(id='q' + id + '_upvote',
                                               class=upVoted ? 'active' : undefined,
                                               disabled = !user ? 'disabled' : undefined,
                                               type='submit', name='vote',
                                               value=upVoted ? 'none' : 'up')
                            i.fa.fa-thumbs-up
                        button.btn.btn-default.vote-status(disabled='disabled')
                            span.badge(id='q' + id + '_count')= count
                        button.btn.btn-danger(id='q' + id + '_downvote',
                                              class=downVoted ? 'active' : undefined,
                                              disabled = !user ? 'disabled' : undefined,
                                              type='submit', name='vote',
                                              value=downVoted ? 'none' : 'down')
                            i.fa.fa-thumbs-down
                    input(type='hidden', name='_csrf', value=csrfToken)
            .vote-panel-text(id='q' + id + '_text')
                each para in text.split('\n')
                    p= para
        .panel-footer
            span.text-muted(id='q' + id + '_meta')
                | Submitted by #{submitter} on
                | #{moment(date.toISOString()).format('YYYY-MM-DD HH:mm:ss')}
