extends ../layout

block content

    script.
        function auto_grow(element) {
            if (element.scrollHeight > 50) {
                element.style.height = "auto";
                element.style.height = (element.scrollHeight + 15) + "px";
            }
        }

    .page-header
        h3 View Questions


    //mixin pagination(start, numPages, curr, base)
    //    ul.pagination
    //        - var n = start
    //        while n < start + numPages
    //            if n == curr
    //                li.active
    //                    a(href='#{base}?page=#{n}') #{n}
    //            else
    //                li
    //                    a(href='#{base}?page=#{n}') #{n}
    //            - n++

    mixin pagination(curr, base)
          ul.pagination
              if curr == 1
                  li.disabled
                      a Prev
              else
                  li
                      a(href='#{base}?page=#{curr - 1}') Prev

              if hasNextPage
                  li
                      a(href='#{base}?page=#{curr + 1}') Next
              else
                  li.disabled
                      a Next


    if questions
        if questions.length == 0
            .form-group
                p
                | No question found
        else
            .form-group
                each question in questions
                    .form-group
                        .row
                            .col-md-12
                                h2
                                    | #{question.title}
                                p
                                    | #{question.text}

                                i(style="font-size: smaller;")
                                    | #{question.date}

                    .form-group
                        .row
                            .btn-group-sm
                                .col-md-6
                                    button.btn.btn-sm.btn-primary.col-sm-5(type='button')
                                        i.fa.fa-thumbs-up
                                        | Up Vote
                                        span.badge.pull-right #{question.upVoteCount}
                                        button.btn.btn-sm.btn-danger.col-sm-5(type='button')
                                            i.fa.fa-thumbs-down
                                            | Down Vote
                                            span.badge.pull-right #{question.downVoteCount}

                    form(id='argument_form', method='POST',action="/questions/pa?q=#{question.id}&t=1")
                        .form-group
                            .row
                                .col-md-12
                                    textarea.form-control(style="min-height:50px; outline: none; resize: none; overflow: hidden;",onkeyup='auto_grow(this)',name='argument', placeholder='Type your thoughts', autofocus=true)
                        .form-group
                            .row
                                .col-md-offset-10
                                    .btn-group-sm
                                        button.btn.btn-default(type='submit')
                                            i.fa.fa-paper-plane
                                            | Agree
                                            button.btn.btn-default(type='submit')
                                                i.fa.fa-paper-plane
                                                | Disagree

                            hr

    .form-group
        +pagination(currPage,"/questions/find/")


