extends ../layout

block content
    .page-header
        h3 #{question.title}
    .form-group
        .row
            .col-md-12
                p
                    | #{question.text}

                i(style="font-size: smaller;")
                    | #{question.date}, By #{question.submitter}
    .form-group
        .row
            .btn-group-sm
                .col-md-6
                    button.btn.btn-sm.btn-primary.col-sm-5(type='button')
                        i.fa.fa-thumbs-up
                        | Up Vote
                        span.badge.pull-right #{question.upVoteCount}
                        button.btn.btn-sm.btn-danger.col-sm-5(type='button')
                            i.fa.fa-thumbs-down
                            | Down Vote
                            span.badge.pull-right #{question.downVoteCount}
    if arguments
        .form-group
            if arguments.length == 0
                p#view_arguments_empty

                    | No argument found
            else
                - var n = 0
                while n < arguments.length
                    #view_arguments_nonempty
                        label.control-label #{arguments[n].submitter}
                        i(style="font-size: smaller;")
                            | , #{arguments[n].date}
                        if arguments[n].type
                            p(style="color:blue;")
                                | #{arguments[n].text}
                        else
                            p(style="color:red;")
                                | #{arguments[n].text}
                        - n++
        hr
    form(id='argument_form', method='POST',action="/questions/pa?q=#{question.id}&t=1")
        input(type='hidden', name='_csrf', value=csrfToken)
        .form-group
            .row
                .col-md-12
                    textarea.form-control(id="create_argument",style="min-height:50px; outline: none; resize: none; overflow: hidden;",onkeyup='auto_grow(this)',name='argument', placeholder='Type your thoughts', autofocus=false)
        .form-group
            .row
                .col-md-offset-10
                    .btn-group-sm
                        button.btn.btn-default(id='pro',type='submit',name='post_arg',value='pro')
                            i.fa.fa-paper-plane
                            | Agree
                            button.btn.btn-default(id='con',type='submit',name='post_arg',value='con')
                                i.fa.fa-paper-plane
                                | Disagree
            hr