extends ../layout

block content
    .page-header
        h2 Question: #{question.title}

    .row
        .col-md-12
            +question(question.id, question.text, question.submitter,
                      question.date, question.upVoted, question.downVoted,
                      question.upVoteCount - question.downVoteCount, user)

    .row
        .col-md-6
            h3 Arguments in Favour
            if locals.argsFor.length !== 0
                each argument in locals.argsFor
                    +argument(question.id, argument.id, argument.text,
                              argument.submitter, argument.date,
                              argument.upVoted, argument.downVoted,
                              argument.upVoteCount - argument.downVoteCount,
                              user)
            else
                p
                    | No arguments have yet been made in favour. Why don't you
                    | write one?
        .col-md-6
            h3 Arguments Against
            if locals.argsAgainst.length !== 0
                each argument in locals.argsAgainst
                    +argument(question.id, argument.id, argument.text,
                              argument.submitter, argument.date,
                              argument.upVoted, argument.downVoted,
                              argument.upVoteCount - argument.downVoteCount,
                              user)
            else
                p
                    | No arguments have yet been made against. Why don't you
                    | write one?

    if user
        .row
            .col-md-12
                h3 Create an Argument
                form(method='POST', action='/questions/pa?q=#{question.id}')
                    input(type='hidden', name='_csrf', value=csrfToken)
                    .form-group
                        textarea.form-control(name='argument', rows='5',
                                              placeholder="What's your argument?")
                    .form-group
                        .btn-group
                            button.btn.btn-default(name='post_arg', type='submit', value='pro')
                                i.fa.fa-label.fa-paper-plane
                                | For
                            button.btn.btn-default(name='post_arg', type='submit', value='con')
                                i.fa.fa-label.fa-paper-plane
                                | Against

mixin question(id, text, submitter, date, upVoted, downVoted, count, user)
    .panel.panel-default
        .panel-body
            .vote-group
                form(method='POST', action='/questions/vote?q=#{id}')
                    .btn-group-vertical
                        button.btn.btn-primary(class=upVoted ? 'active' : undefined,
                                               disabled = !user ? 'disabled' : undefined,
                                               type='submit', name='vote',
                                               value=upVoted ? 'none' : 'up')
                            i.fa.fa-thumbs-up
                        button.btn.btn-default.vote-status(disabled='disabled')
                            span.badge= count
                        button.btn.btn-danger(class=downVoted ? 'active' : undefined,
                                              disabled = !user ? 'disabled' : undefined,
                                              type='submit', name='vote',
                                              value=downVoted ? 'none' : 'down')
                            i.fa.fa-thumbs-down
                    input(type='hidden', name='_csrf', value=csrfToken)
            .vote-panel-text
                each para in text.split('\n')
                    p= para
        .panel-footer
            span.text-muted
                | Submitted by #{submitter} on
                | #{moment(date.toISOString()).format('YYYY-MM-DD HH:m:s')}

mixin argument(qid, aid, text, submitter, date, upVoted, downVoted, count)
    .panel.panel-default
        .panel-body
            .vote-group
                form(method='POST', action='/questions/vote?q=#{qid}&a=#{aid}')
                    .btn-group-vertical
                        button.btn.btn-primary(class=upVoted ? 'active' : undefined,
                                               disabled = !user ? 'disabled' : undefined,
                                               type='submit', name='vote',
                                               value=upVoted ? 'none' : 'up')
                            i.fa.fa-thumbs-up
                        button.btn.btn-default.vote-status(disabled='disabled')
                            span.badge= count
                        button.btn.btn-danger(class=downVoted ? 'active' : undefined,
                                              disabled = !user ? 'disabled' : undefined,
                                              type='submit', name='vote',
                                              value=downVoted ? 'none' : 'down')
                            i.fa.fa-thumbs-down
                    input(type='hidden', name='_csrf', value=csrfToken)
            .vote-panel-text
                each para in text.split('\n')
                    p= para
        .panel-footer
            span.text-muted
                | Submitted by #{submitter} on
                | #{moment(date.toISOString()).format('YYYY-MM-DD HH:m:s')}